
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container bg-light" style="min-height:400px;text-align:center; margin-top:10vh;">
    <br /><br /><h2>
    404 Sayfa Bulunamadı!  
    
    </h2>

    Aradığınız Sayfa Silinmiş Yada Yeni Bir Adrese Taşınmış Olabilir
</div>
